In [12]:
import pandas as pd

In [13]:
df = pd.read_csv("imoveis_detalhados.csv", sep=',', encoding='utf-8')
df.head()

,aluguel,condominio,iptu,seguro_incendio,taxa_servico,total,bairro,metragem,quartos,banheiros,vagas,andar,aceita_pet,sem_mobilia,latitude,longitude
0,R$ 1.159,Corrimão,R$ 28,R$ 20,R$ 30,R$ 1.734,"Samambaia Norte (samambaia), Brasília",46 m²,2 quartos,1 banheiro,1 vaga,8° a 11° andar,Aceita pet,Sem mobília,NaN,NaN
1,R$ 1.374,Playground,R$ 0,R$ 19,R$ 27,R$ 1.722,"Ceilândia Sul (ceilândia), Brasília",55 m²,2 quartos,1 banheiro,1 vaga,4° a 7° andar,Aceita pet,Sem mobília,NaN,NaN
2,R$ 1.657,R$ 580,R$ 66,R$ 24,R$ 42,R$ 2.369,"Norte (águas Claras), Brasília",40 m²,1 quarto,1 banheiro,1 vaga,12° a 15° andar,Aceita pet,Sem mobília,NaN,NaN
3,R$ 1.273,Playground,R$ 55,R$ 21,R$ 32,R$ 1.768,"Taguatinga Norte (taguatinga), Brasília",45 m²,2 quartos,1 banheiro,1 vaga,8° a 11° andar,Aceita pet,Sem mobília,NaN,NaN
4,R$ 903,Elevador,R$ 36,R$ 15,R$ 23,R$ 1.402,"Samambaia Sul (samambaia), Brasília",49 m²,2 quartos,1 banheiro,1 vaga,Até 3° andar,Aceita pet,Sem mobília,NaN,NaN